html {
  font-size: 18px;
}

body {
  font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 20vw;
}

img {
  max-width: 100%;
}

h1 {
  margin-right: 130px;
}

code {
  background-color: #e9e9e9;
}

summary {
  cursor: pointer;
}

.gh-corner {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
}

.intro-text {
  margin-right: 60px;
}

@media (max-width: 700px) {
  body {
    padding: 0 5px;
  }
}